{% extends "layout/admin_app.twig" %}

{% block title %} :: 블로그 관리 홈{% endblock %}

{% block content %}
    <div id="content">
        <div class="header">
            <h2>블로그 관리 홈</h2>
        </div>
    </div>
{% endblock %}
