<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Slim Framework 이용한 블로그 만들기{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/css/admin.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  {% block style %}{% endblock %}
</head>
<body>
    {% include "layout/header.twig" %}

    {% block content %}{% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".alert").delay(2000).slideUp(1000);
        });
    </script>

    {% block script %}{% endblock %}
</body>
</html>
